@{
    ViewBag.Title = "Only Drinks - Fire Drink";
}

    <div id="contenedor">
        <div>
            <h2 class="text-center text-success">Somos Fire Drink</h2>
        </div>

        <div class="">
            <div class="contenido">
                Somos una empresa fundada por amigos dedicada a la distribución y venta de Licores
                al por mayor de todas las marcas con los mejores precios, con basta experiencia en el mercado.
                <br /><br />
                Nos caracterizamos por la calidad y responsabilidad con la que trabajamos y además contamos
                con un amplio stock permanente para cumplir satisfactoriamente con las necesidades de nuestros clientes.
                <br /><br />
                Brindamos un excelente servicio y asesoramiento personalizado con respecto a la elección de licores
                para todo tipo de evento, matrimonio, reuniones sociales,cumpleaños y todo aquello que nuestra empresa
                pueda ofrecerle.
                <br /><br />
                Realizamos el servicio de reparto sin costo adicional, nuestros vehículos se encuentran debidamente
                equipados para que nuestros productos lleguen a sus manos en forma puntual y en perfectas condiciones.
                <br /><br />
                <h3 class="text-primary">MISION</h3>
                <br />
                Brindar a nuestros clientes la más variada selección de licores importados y nacionales,
                ofreciendo calidad en nuestros productos y el mejor servicio para satisfacer los gustos mas exigentes.
                <br /><br />
                <h3 class="text-primary">VISION</h3>
                <br />
                Ser la tienda online de licores mas reconocido a nivel nacional por su variedad, calidad de productos y servicios.

            </div>

        </div>
    </div>